body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
body.presenter {
  transition: all 0.5s ease-in;
}
#app {
  max-width: fit-content;
  margin: 5px;
}
